.titulo{
    text-align: center;
    color: #ffffff;
    border-color: #ffffff;
    border-style: double;
    margin-left:20%;
    margin-right: 18%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 140%;
}

body{
    background-color: #9c1e1e;
}

.jogo{
    color: #5e1212;
    text-align: center;
    margin-bottom: 3%;
}

h2{
    font-size: 180%;
    color: rgb(255, 255, 255);
}

h1{
    color: #3d0808;
}

h3{
    font-size: 130%;
    color: #ce4e4e;
}

h4{
    color: #e68686;
    margin-left:30%;
    margin-right: 30%;
    font-size: 70%;
}

img{
    size: 60%;
}

